.search-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-mode__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.search-mode__method {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.row-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

label {
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
