header {
  margin: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

a:first-child {
  margin-right: 80px;
}

a:hover {
  cursor: pointer;
}
